<nav class="bg-general dark:bg-general-dark h-screen flex flex-col 
items-center gap-12 p-6 w-72" id="navbar">
    <div class="size-fit my-2">
        <picture>
            <source srcset="../../../../assets/img/general/logo.avif" type="image/avif">
            <source srcset="../../../../assets/img/general/logo.webp" type="image/webp">
            <source srcset="../../../../assets/img/general/logo.png" type="image/png">
            <img loading="lazy" class="max-w-52 " src="../../../../assets/img/general/logo.png"
                alt="Logo de la empresa">
        </picture>
    </div>

    <div class="flex flex-col items-center justify-center gap-4 mb-3 md:mb-0 dark:text-white">
        <button mat-button (click)="darkMode()">
            <span>
                <mat-icon *ngIf="!themeMode" class="text-4xl mt-2">dark_mode</mat-icon>
                <mat-icon *ngIf="themeMode" class="text-4xl mt-2">light_mode</mat-icon>
            </span>

            <span class="ms-4 text-lg">Cambiar Modo</span>
        </button>

        <button mat-button (click)="showHome()">
            <span>
                <mat-icon class="text-4xl mt-2">home</mat-icon>
            </span>

            <span class="ms-4 text-lg">Inicio</span>
        </button>

        <button mat-button (click)="showProducts()">
            <span>
                <mat-icon class="text-4xl mt-2">inventory_2</mat-icon>
            </span>

            <span class="ms-4 text-lg">Productos</span>
        </button>

        <button mat-button>
            <span>
                <mat-icon class="text-4xl mt-2">shopping_bag</mat-icon>
            </span>

            <span class="ms-4 text-lg">Compras</span>
        </button>

        <button mat-button>
            <span>
                <mat-icon class="text-4xl mt-2">group</mat-icon>
            </span>

            <span class="ms-4 text-lg">Usuarios</span>
        </button>

        <button mat-button [matMenuTriggerFor]="perfil">
            <span>
                <mat-icon class="text-4xl mt-2">account_circle</mat-icon>
            </span>
            <mat-menu #perfil="matMenu" class="dark:bg-slate-500 ">
                <button mat-menu-item class="dark:text-white" (click)="showPerfil()">Mi perfil</button>
                <button mat-menu-item class="dark:text-white" (click)="logout()">
                    Logout
                </button>
            </mat-menu>

            <span class="ms-4 text-lg">Perfil</span>
        </button>
    </div>
</nav>