<div class="w-full flex py-4 md:px-28">
    <div class="bg-white dark:bg-component-dark px-12 py-10 mt-3 rounded-lg">
        <h2 class="text-center text-4xl font-medium mb-6">Actualizar Datos del Producto</h2>

        <form [formGroup]="newProductForm" (ngSubmit)="submitProduct()">
            <div class="flex md:gap-x-6 flex-wrap">
                <mat-form-field class="w-full my-1 lg:w-calc-50 dark:text-white">
                    <mat-label class="dark:text-white">Name</mat-label>
                    <input matInput class="dark:placeholder:text-white" placeholder="Ex. Zapatila nueva"
                        formControlName="name">
                    <mat-error>{{getErrorMessageName()}}</mat-error>
                </mat-form-field>

                <div class="w-full lg:w-calc-50">
                    <mat-form-field class="w-full">
                        <mat-label class="dark:text-white">Selecciona un archivo</mat-label>
                        <input matInput placeholder="Selecciona un archivo" class="dark:disabled:text-white" disabled>
                        <input type="file" class="cursor-pointer save-file" formControlName="image"
                            (change)="onFileSelected($event)">
                    </mat-form-field>

                    <div *ngIf="selectedFile">{{ selectedFile.name }}</div>
                </div>

                <mat-form-field class="w-full my-2 dark:text-white">
                    <mat-label class="dark:text-white">Descripcción del producto</mat-label>
                    <textarea matInput class="dark:text-white" formControlName="description" rows="3"></textarea>
                    <mat-error>{{getErrorMessageDescription()}}</mat-error>
                </mat-form-field>

                <mat-form-field class="w-full lg:w-calc-50 mb-4 dark:text-white">
                    <mat-label class="dark:text-white">Talla</mat-label>
                    <input matInput type="number" class="dark:placeholder:text-white" placeholder="Ex. Zapatila nueva"
                        formControlName="size">
                </mat-form-field>

                <mat-form-field class="w-full lg:w-calc-50 mb-4 dark:text-white">
                    <mat-label class="dark:text-white">Marca</mat-label>
                    <input matInput class="dark:placeholder:text-white" placeholder="Ex. Zapatila nueva"
                        formControlName="brand">
                </mat-form-field>

                <mat-form-field class="w-full lg:w-calc-50 mb-4 dark:text-white">
                    <mat-label class="dark:text-white">Precio de Compra</mat-label>
                    <input matInput type="number" class="dark:placeholder:text-white" placeholder="Ex. Zapatila nueva"
                        formControlName="purchase_price">
                    <mat-error>{{getErrorMessagePurchasePrice()}}</mat-error>
                </mat-form-field>

                <mat-form-field class="w-full lg:w-calc-50 mb-4 dark:text-white">
                    <mat-label class="dark:text-white">Precio de Venta</mat-label>
                    <input matInput type="number" class="dark:placeholder:text-white" placeholder="Ex. Zapatila nueva"
                        formControlName="sale_price">
                    <mat-error>{{getErrorMessageSalePrice()}}</mat-error>
                </mat-form-field>

                <mat-form-field class="w-full lg:w-calc-50 mb-4 dark:text-white">
                    <mat-label class="dark:text-white">Stock</mat-label>
                    <input matInput type="number" class="dark:placeholder:text-white" placeholder="Ex. Zapatila nueva"
                        formControlName="stock">
                </mat-form-field>

                <mat-form-field class="w-full lg:w-calc-50">
                    <mat-label class="dark:text-white">Categoría</mat-label>
                    <mat-select class="dark:text-white input-option" formControlName="categoryId">
                        <mat-option *ngFor="let category of categories" class="ejmplo" [value]="category.id">
                            <span>{{category.nombre}}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="flex flex-col md:flex-row justify-center gap-5 form-button">
                <button mat-flat-button class="bg-buttons dark:bg-buttons-dark hover:bg-buttons-hover 
                hover:dark:bg-buttons-hover-dark dark:text-white w-full md:w-5/12">
                    Actualizar Producto
                </button>

                <button mat-flat-button color="warn" type="button" class="hover:bg-red-600 w-full md:w-5/12"
                    (click)="showProducts()">
                    Regresar
                </button>
            </div>
        </form>
    </div>
</div>