/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-container {
    width: min(90%, 75rem);
    margin: 0 auto;
}

.login-tittle {
    font-family: var(--ubuntu-mono)
}

.login-url {
    color: rgb(75 85 99);
}

.login-url:hover {
    cursor: pointer;
    color: rgb(8 145 178)
}

.btn-text {
    font-size: 1rem;
}

.custom-close-button-text .mat-button-wrapper {
    color: white;
}

.mat-form-field.inputs .mat-form-field-underline {
    background-color: white;
}

.mat-form-field.inputs ::placeholder {
    color: white;
}

/* Estilos de lista */

tr.detail-row {
    height: 0;
}

.container-table {
    display: block;
    max-height: 77vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    flex-grow: 1;
    overflow-y: auto;
  }

.container-table::-webkit-scrollbar {
    width: 5px;
    /* Ancho de la barra de desplazamiento */
}

.container-table::-webkit-scrollbar-track {
    background-color: #4e4e4e;
}

.container-table::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.container-table::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.form-button {
    button {
        padding: 0.188rem 0;
        font-size: 1rem;
    }
}

